*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

body{
    background-color:#F8F9FA;
}
h1{
    color:darkorange;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
} 

h2{
    color: darkorange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

li{
    margin-bottom: 10px;
    font-size: 24px;
}
